.image {
    width: 300px;
    height: 400px;
}
.all {
    background-color: rgb(219, 128, 128);
    padding-top: 0px;
    display:block;
    margin-right: 969px;
    
}
h1 {
    margin-top: 0px;
}
.para {
    margin-top: 0px;
    font-size: 17px;
}
.links {

    margin-top: -10px;

}
a:link {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
a:visited {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
.tokyo {
    padding-right: 10px;
    padding-left: 10px;
}