body {
    background-color: rgb(224, 209, 191);
}
h2 {
    font-style: italic;
}
p.para{
    font-family: ;
    color: rgb(32, 72, 174);
}
a:link {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
a:visited {
    color: rgb(32, 72, 174);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.para {
  font-family:  "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
section {
    background-color: rgb(252, 252, 252);
    display: flex;
    padding-top: 20px;
   width: 200;
    margin: 20px auto 60px;
}
.beautifulworld {
    width: 220px;
    height: 300px;
}
.yerba {
    width: 220px;
    height: 300px;

}
.babel {
    width: 220px;
    height: 300px;
}
.whereareyou {
    padding-left: 40px;
}
.buena {
    padding-right: 40px;
    padding-left: 40px;
}
.book1 {
    font-weight:bold ;
}
.author1 {
    margin-top: -10px;
}

.book2 {
    font-weight:bold ;
}
.author2 {
    margin-top: -10px;
}

.book3 {
    font-weight:bold ;
}
.author3 {
    margin-top: -10px;
}
button {
    background-color: rgb(179, 183, 162);
    color: white;
}



