* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: antiquewhite;
  }
  div {
    border: 3px solid black;
    margin-top: 40px;
    margin-left: 70px;
    width: 700px;
    line-height: 25px;
    background-color: white;
    padding: 10px;
  }
